html {
  font-family: "Microsoft YaHei";
  font-size: 16px;
  height: 100%;
}
body {
  height: 100%;
  font-size: 62.5%;
}

/*css reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,pre, form, fieldset, input, textarea, p, 
blockquote, th, td, button, label, table {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img {
  border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}
ol, ul {
  list-style: none;
}
caption, th {
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before, q:after {
  content: '';
}
abbr, acronym {
  border: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/*文字排版*/
.f12a {
  font-size: 1.2em;
  color: #5d6578;
}
.f12b {
  font-size: 1.2em;
  color: #8c929f;
}
.f12c {
  font-size: 1.2em;
  color: #365ba9;
}
.f12d {
  font-size: 1.2em;
  color: #75cc79;
}
.f12e {
  font-size: 1.2em;
  color: #f58799;
}
.f12f {
  font-size: 1.2em;
  color: #f6b36c;
}
.f14a {
  font-size: 1.4em;
  color: #365ba9;
  font-weight: bold;
}
.f14b {
  font-size: 1.4em;
  color: #365ba9;
}
.f14c {
  font-size: 1.4em;
  color: #5d6578;
  font-weight: bold;
}
.f14d {
  font-size: 1.4em;
  color: #5d6578;
}
.f14e {
  font-size: 1.4em;
  color: #8c92cf;
}
.f16a {
  font-size: 1.6em;
  color: #333a48;
  font-weight: bold;
}
.f16b {
  font-size: 1.6em;
  color: #365ba9;
  font-weight: bold;
}
.f16c {
  font-size: 1.6em;
  color: #5d6578;
}
.f16d {
  font-size: 1.6em;
  color: #fff;
}
.f24a {
  font-size: 2.4em;
  color: #333a48;
  font-weight: bold;
}
.f24b {
  font-size: 2.4em;
  color: #365ba9;
  font-weight: bold;
}
.f24c {
  font-size: 2.4em;
  color: #5d6578;
  font-weight: bold;
}
.fb {
  font-weight: bold;
}
.fn {
  font-weight: normal;
}
.t2 {
  text-indent: 2em;
}
.lh150 {
  line-height: 150%;
}
.lh180 {
  line-height: 180%;
}
.lh200 {
  line-height: 200%;
}
.unl {
  text-decoration: underline;
}
.no-unl {
  text-decoration: none;
}

/*定位*/
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.fl {
  float: left;
  display: inline;
}
.fr {
  float: right;
  display: inline;
}
.cb {
  clear: both;
}
.cl {
  clear: left;
}
.cr {
  clear: right;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.vm {
  text-align: middle;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.zoom {
  zoom: 1;
}
.hidden {
  visibility: hidden;
}
.none {
  display: none;
}

/*web project layout*/
.bg16b {
  background: #d0e7f9;
}
.bg2 {
  background: #eaebf2;
}
.bg3 {
  background: #fff;
}
.th-bg {
  background: #f5f6fa;
}
.tb-hover {
  background: #f4f6ff;
}


.ui-timepicker-wrapper {
  width: 14em;
  height: 10em;
  font-size: 1.4em;
}
.ui-datepicker {
  width: 16.5em;
  font-size: 1.2em;
}

/*content style*/
.wrapper {
  min-height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.layout-left {
  width: 160px;
  min-height: 100%;
  background: #f4fafe;
}
.logo {
  height: 136px;
}
.mini-icon {
  margin-right: 8px;
  width: 100%;
  max-width: 24px;
  margin-top: -4px;
}
.sidebar {
  width: 160px;
}
.sidebar ul {
  list-style: none;
}
.sidebar li {
  margin-bottom: 8px;
}
.a-item {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin-left: 30px;
  color: #5d6578;
  font-size: 1.6em;
}
.active_li {
  display: inline-block;
  border: 2px solid #365ba9;
  width: 132px;
  border-radius: 25px;
  background: #d0e7f9;
  height: 40px;
  line-height: 40px;
  margin-left: 14px;
  text-align: center;
  color: #365ba9;
  font-size: 1.6em;
}
.sidebar-title {
  vertical-align: middle;
  text-decoration: none;
}
.logout {
  position: absolute;
  bottom: 40px;
}
.apply {
  position: absolute;
  bottom: 88px;
}
.client {
  position: absolute;
  bottom: 136px;
}
.title-div {
  margin-top: 40px;
  margin-bottom: 48px;
}
.title-icon {
  width: 48px;
  margin-left: 24px;
  margin-right: 16px;
}
.title {
  vertical-align: middle;
}
.tab-title {
  display: -webkit-flex;
  display: -moz-flex;
  display: -os-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -os-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 40px;
}
.tab-title ul {
  list-style: none;
}
.tab-title li {
  float: left;
  height: 32px;
  line-height: 32px;
  width: 128px;
  border-radius: 18px;
  text-align: center;
  margin-right: 16px;
  cursor: pointer;
}
.tab-title li a {
  display: inline-block;
  height: 32px;
  line-height: 32px;
}
.tab-title li a:hover {
  color: #5d6578;
  font-weight: bold;
}

.user-search-box {
  width: 440px;
  border-radius: 20px;
}
.input-style {
  width: 416px;
  height: 40px;
  line-height: 40px;
  border: none;
  outline: none;
  background: transparent;
  display: inline-block;
}
.search {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: url("/icon/search.png") no-repeat;
  margin-right: 4px;
}


.content-area {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 160px;
}
.main-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.desc-div {
  padding: 24px 40px 24px 24px;
}
.th-bg {
  background: #f4fafe;
}
.table-box td:not(:last-child) {
  font-size: 1.2em;
  color: #5d6578;
}
.green {
  color: #75cc7d !important;
  font-size: 1.2em;
}
.orange {
  color: #f6b36c !important;
  font-size: 1.2em;
}
.red {
  color: #f58799 !important;
  font-size: 1.2em;
}
.add-icon {
  display: inline-block;
  width: 48px;
  margin-right: 40px;
  cursor: pointer;
}
.search-add {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/*.delete {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background: image-url("delete.png") no-repeat
}*/

.btn-position {
  position: absolute;
  right: 2.07%;
  top: 24px;
  z-index: 10;
}
.nav {
  margin-left: -1px;
}
.nav a {
  background: #adadbe;
}

.undiscover {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.table-height th {
  vertical-align: middle !important;
  height: 48px;
  line-height: 48px;
}
.table-height td {
  vertical-align: middle !important;
  height: 48px;
  line-height: 48px;
}
.table-height tbody tr:last-child {
  border-bottom: 4px solid #eaebf2;
}
.border-btm {
  border-bottom: 4px solid #eaebf2;
}

.select-page {
  text-align: right;
}
.choice-page {
  display: inline-block;
  vertical-align: middle;
}
.pagination {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.ui-datepicker .ui-datepicker-title {
  display: -webkit-flex;
  display: -moz-flex;
  display: -os-flex;
  display: -o-flex;
  display: flex;
}
.ui-datepicker .ui-datepicker-title select {
  vertical-align: middle;
}
#ui-datepicker-div {
  width: 235px;
  font-size: 12px;
  font-family: "微软雅黑";
}


.direction {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -os-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}

.wangedit-area, h1 {
  font-size: 24px;
}
.wangedit-area, h2 {
  font-size: 22px;
}
.wangedit-area, h3 {
  font-size: 20px;
}
.wangedit-area, h4 {
  font-size: 18px;
}
.wangedit-area, h5 {
  font-size: 16px;
}


.search-statistics {
  width: 100%;
  margin: 0;
}
.form-time-statistics {
  width: 100%;
  padding: 13px 0;
  margin: 0;
}
#datepicker-1, #datepicker-2, #datepicker-3, #datepicker-4, #datepicker-5, #datepicker-6{
  width: 14.85%;
}
.input-caption-statistics {
  font-size: 16px;
  vertical-align: middle;
}
.input-area-statistics {
  margin: 0 8px;
}
.search-btn-statistics {
  background: #10c078;
  margin-left: 12px;
  height: 32px;
  color: #fff;
}
.search-btn-statistics:hover {
  color: #fff;
}
.quick-choice {
  float: right;
  width: 14.85%;
  margin-right: 10px;
}