.items-div {
  border-top: 1px solid #f4fafe;
  margin-bottom: 20px;
}

.item {
  position: relative;
  border-bottom: 1px solid #f4fafe;
  padding: 20px;
  display: block;
}

.date {
  margin-top: 8px;
  margin-bottom: 12px;
}

.content {
  font-size: 14px;
  color: #5d6578;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.delete-btn {
  position: absolute;
  right: 0;
  top: 24px;
  background: #365ba9;
  width: 48px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

#delete {
  color: #fff;
}

#addModal .modal-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -440px;
  margin-top: -252px;
  width: 880px;
  height: 504px;
}

#addModal .modal-backdrop {
  background-color: rgba(51, 58, 72, 0.16);
}

#addModal .modal-body {
  margin: 0;
  padding-left: 40px;
  padding-bottom: 40px;
}

#addModal .close {
  position: absolute;
  width: 64px;
  right: 0;
  top: 0;
  opacity: 1;
  z-index: 15;
}

#addModal .add-c {
  margin-top: 30px;
  margin-bottom: 24px;
}

#addModal .mb24 {
  margin-bottom: 24px;
}

#addModal .input-web-width {
  width: 709px;
  height: 30px;
  display: inline-block;
  margin-left: 8px;
  margin-right: 40px;
}

#addModal .area-width {
  display: inline-block;
  width: 709px;
  margin-left: 8px;
  font-size: 14px;
}

#addModal .input-top {
  vertical-align: top;
}

#addModal .area-height {
  display: inline-block;
  height: 240px;
}

#addModal .add-btn-width {
  display: inline-block;
  width: 240px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #365ba9;
  margin-right: 40px;
  cursor: pointer;
}

#addModal .w-e-text-container {
  height: 200px !important;
}

