#addModal .modal-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -240px;
  margin-top: -374px;
  width: 480px;
  height: 748px;
}

#addModal .modal-backdrop {
  background-color: rgba(51, 58, 72, 0.16);
}

#addModal .modal-body {
  margin: 0;
  padding-left: 40px;
  padding-bottom: 40px;
}

#addModal .close {
  position: absolute;
  width: 64px;
  right: 0;
  top: 0;
  opacity: 1;
  z-index: 15;
}

#addModal .add-c {
  margin-top: 30px;
  margin-bottom: 24px;
}

#addModal .input-width {
  width: 300px;
  height: 30px;
  display: inline-block;
  margin-left: 8px;
  margin-right: 40px;
}

#addModal .mb16 {
  margin-bottom: 16px;
}

#addModal .add-btn-width {
  display: inline-block;
  width: 240px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #365ba9;
  margin-left: 80px;
  cursor: pointer;
}

#addModal .area {
  margin-left: 36px;
}

#addModal .admin {
  margin-left: 22px;
}

#addModal .location {
  margin-left: 22px;
}

#addModal .textarea-width {
  width: 300px;
  height: 60px;
  display: inline-block;
  margin-left: 8px;
  margin-right: 40px;
}

#addModal .vt {
  vertical-align: top;
}

#addModal .get-location {
  display: inline-block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  background: #f4fafe;
  border: 1px solid #e4f3ff;
  margin-left: 8px;
  cursor: pointer;
}

#addModal #container {
  width: 300px;
  height: 144px;
  margin-top: 16px;
  margin-left: 67px;
}

#addModal #province,
#addModal #city,
#addModal #county {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  padding-left: 5px;
}

#addModal .citys {
  font-size: 0;
}

#addModal .city-select {
  margin-right: 22px;
}

.tooltip-div {
  position: absolute;
  top: 45px;
  width: 320px;
  padding: 20px;
  -webkit-filter: drop-shadow(0 0 5px rgba(51, 58, 72, 0.16));
          filter: drop-shadow(0 0 5px rgba(51, 58, 72, 0.16));
  left: -305px;
  background: #fff;
  display: none;
}

.tip-parent {
  position: relative;
}

.triangle {
  position: absolute;
  right: 0;
  top: -20px;
  width: 0;
  height: 0;
  border-bottom: 20px solid #FFF;
  border-left: 20px solid transparent;
}

.close {
  position: absolute;
  right: 20px;
  width: 12px;
}

.container {
  width: 272px;
  height: 140px;
  margin-top: 12px;
}

