#addModal .modal-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -240px;
  margin-top: -377px;
  width: 480px;
  height: 754px;
}

#addModal .modal-backdrop {
  background-color: rgba(51, 58, 72, 0.16);
}

#addModal .modal-body {
  margin: 0;
  padding-left: 40px;
  padding-bottom: 40px;
}

#addModal select {
  padding: 0;
  padding-left: 5px;
}

#addModal .close {
  position: absolute;
  width: 64px;
  right: 0;
  top: 0;
  opacity: 1;
  z-index: 15;
}

#addModal .add-c {
  margin-top: 30px;
  margin-bottom: 24px;
}

#addModal .input-width {
  width: 300px;
  height: 30px;
  display: inline-block;
  margin-left: 8px;
  margin-right: 40px;
}

#addModal .mb24 {
  margin-bottom: 24px;
}

#addModal .add-btn-width {
  display: inline-block;
  width: 240px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #365ba9;
  margin-left: 80px;
  cursor: pointer;
}

#addModal .manager {
  margin-left: 22px;
}

#addModal .teacher {
  margin-right: 8px;
}

#addModal .unvisible {
  visibility: hidden;
  vertical-align: top;
}

#addModal .hide-notice {
  display: inline-block;
  width: 300px;
  margin-left: 8px;
  color: #8C929F;
  font-size: 12px;
  height: 20px;
}

#addModal .mtb {
  margin: 2px 0;
}

#addModal .time {
  vertical-align: top;
}

#addModal #time {
  height: 54px;
}

#addModal #desc {
  height: 24px;
}

.tooltip-div {
  position: absolute;
  top: 50px;
  width: 320px;
  padding: 24px;
  -webkit-filter: drop-shadow(0 0 5px rgba(51, 58, 72, 0.16));
          filter: drop-shadow(0 0 5px rgba(51, 58, 72, 0.16));
  left: -305px;
  background: #fff;
  display: none;
  z-index: 50;
}

.tip-parent {
  position: relative;
}

.triangle {
  position: absolute;
  right: 0;
  top: -20px;
  width: 0;
  height: 0;
  border-bottom: 20px solid #FFF;
  border-left: 20px solid transparent;
}

.close {
  position: absolute;
  right: 20px;
  width: 12px;
}

.ml16 {
  margin-left: 16px;
}

.course-link {
  display: inline-block;
  width: 255px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 4px;
  margin-bottom: 14px;
  border: 0;
  outline: 0;
}

.qrcode-box {
  margin-top: 16px;
}

.copy,
.download {
  cursor: pointer;
}

