.items-div {
  background: #f4fafe;
  height: 120px;
  display: -moz-flex;
  display: -os-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -os-justify-content: space-between;
  -o-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -moz-align-items: center;
  -os-align-items: center;
  -o-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 24px;
  margin-bottom: 40px;
  margin-right: 40px;
  border: 1px solid #e4f3ff;
}

.item-div {
  position: relative;
  width: 24%;
  padding-left: 40px;
  padding-top: 20px;
}

.item-div p {
  margin-bottom: 18px;
}

.item-div img {
  position: absolute;
  right: 40px;
  bottom: 30px;
}

.item-div:not(:last-child) {
  border-right: 1px solid #e4f3ff;
}

