.tooltip-div {
  position: absolute;
  top: 45px;
  width: 320px;
  padding: 20px;
  -webkit-filter: drop-shadow(0 0 5px rgba(51, 58, 72, 0.16));
          filter: drop-shadow(0 0 5px rgba(51, 58, 72, 0.16));
  right: 105px;
  background: #fff;
}

.tip-parent {
  position: relative;
}

.triangle {
  position: absolute;
  right: 0;
  top: -20px;
  width: 0;
  height: 0;
  border-bottom: 20px solid #FFF;
  border-left: 20px solid transparent;
}

.close {
  position: absolute;
  right: 20px;
  width: 12px;
}

#container {
  width: 272px;
  height: 140px;
  margin-top: 12px;
}

.last-td {
  padding: 0;
  margin: 0;
  text-align: left;
}

