.tooltip-div {
  position: absolute;
  top: 50px;
  width: 320px;
  padding: 20px;
  -webkit-filter: drop-shadow(0 0 5px rgba(51, 58, 72, 0.16));
          filter: drop-shadow(0 0 5px rgba(51, 58, 72, 0.16));
  right: 160px;
  background: #fff;
}

.tip-parent {
  position: relative;
}

.triangle {
  position: absolute;
  right: 0;
  top: -20px;
  width: 0;
  height: 0;
  border-bottom: 20px solid #FFF;
  border-left: 20px solid transparent;
}

.close {
  position: absolute;
  right: 20px;
  width: 12px;
}

.upload-btn {
  display: inline-block;
  width: 160px;
  height: 32px;
  background: #f4fafe;
  border: 2px solid #e4f3ff;
  line-height: 30px;
  text-align: center;
}

.file-div {
  margin-top: 10px;
}

.file-div img {
  margin-right: 10px;
}

#addModal .modal-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -240px;
  margin-top: -170px;
  width: 480px;
  height: 340px;
}

#addModal .modal-backdrop {
  background-color: rgba(51, 58, 72, 0.16);
}

#addModal .modal-body {
  margin: 0;
  padding-left: 40px;
  padding-bottom: 40px;
}

#addModal .close {
  position: absolute;
  width: 64px;
  right: 0;
  top: 0;
  opacity: 1;
  z-index: 15;
}

#addModal .add-c {
  margin-top: 30px;
  margin-bottom: 24px;
}

#addModal .input-width {
  width: 300px;
  height: 30px;
  display: inline-block;
  margin-left: 8px;
  margin-right: 40px;
}

#addModal .mb24 {
  margin-bottom: 24px;
}

#addModal .add-btn-width {
  display: inline-block;
  width: 240px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #365ba9;
  margin-left: 80px;
}

#addModal .manager {
  margin-left: 22px;
}

