#addModal .modal-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -240px;
  margin-top: -200px;
  width: 480px;
  height: 400px;
}

#addModal .modal-backdrop {
  background-color: rgba(51, 58, 72, 0.16);
}

#addModal .modal-body {
  margin: 0;
  padding-left: 40px;
  padding-bottom: 40px;
}

#addModal .close {
  position: absolute;
  width: 64px;
  right: 0;
  top: 0;
  opacity: 1;
  z-index: 15;
}

#addModal .add-c {
  margin-top: 30px;
  margin-bottom: 24px;
}

#addModal .input-width {
  width: 300px;
  height: 30px;
  display: inline-block;
  margin-left: 8px;
  margin-right: 40px;
}

#addModal .mb24 {
  margin-bottom: 24px;
}

#addModal .add-btn-width {
  display: inline-block;
  width: 240px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #365ba9;
  margin-left: 80px;
  cursor: pointer;
}

#addModal .manager {
  margin-left: 22px;
}

.edit {
  cursor: pointer;
}

