.items-div {
  border-top: 1px solid #f4fafe;
}
.item {
  border-bottom: 1px solid #f4fafe;
  padding: 20px;
}
.date {
  margin-top: 8px;
  margin-bottom: 12px;
}
.content {
  font-size: 1.4em;
  color: #5d6578;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
#addModal {
  .modal-dialog {
    position:absolute;
    left: 50%;
    top: 50%;
    margin-left: -440px;
    margin-top: -252px;
    width: 880px;
    height: 504px;
  }
  .modal-backdrop {
    background-color: rgba(51, 58, 72, 0.16);
  }
  .modal-body {
    margin: 0;
    padding-left: 40px;
    padding-bottom: 40px;
  }
  .close {
    position: absolute;
    width: 64px;
    right: 0;
    top: 0;
    opacity: 1;
    z-index: 15;
  }
  .add-c {
    margin-top: 30px;
    margin-bottom: 24px;
  }
  .mb24 {
    margin-bottom: 24px;
  }
  .input-web-width {
    width: 709px;
    height: 30px;
    display: inline-block;
    margin-left: 8px;
    margin-right: 40px;
  }
  .area-width {
    display: inline-block;
    width: 709px;
    margin-left: 8px;
    font-size: 14px;
  }
  .input-top {
    vertical-align: top;
  }
  .area-height {
    display: inline-block;
    height: 240px;
  }
  .add-btn-width {
    display: inline-block;
    width: 240px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #365ba9;
    margin-right: 40px;
    cursor: pointer;
  }
  .w-e-text-container {
    height: 200px !important;
  }
}



