.items-div {
  background: #f4fafe;
  height: 120px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -os-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -os-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -os-align-items: center;
  -o-align-items: center;
  align-items: center;
  margin-left: 24px;
  margin-bottom: 40px;
  margin-right: 40px;
  border: 1px solid #e4f3ff;
}
.item-div {
  position: relative;
  width: 24%;
  padding-left: 40px;
  padding-top: 20px;
  p {
    margin-bottom: 18px;
  }
  img {
    position: absolute;
    right: 40px;
    bottom: 30px;
  }
  .cash {
    font-size: 1.2em;
    color: #fff;
    display: inline-block;
    width: 48px;
    margin-left: 15px;
    text-align: center;
    background: #365ba9;
    line-height: 22px;
    height: 22px;
    cursor: pointer;
    vertical-align: top;
  }
  .total {
    height: 22px;
  }
  .total-amount {
    display: inline-block;
    height: 22px;
    line-height: 22px;
  }
}
.item-div:not(:last-child) {
  border-right: 1px solid #e4f3ff;
}
.date-box {
  position: absolute;
  right: 40px;
  top: 50px;
}
.mr20 {
  margin-right: 20px;
}
.inner-box {
  display: inline-block;
  width: 75px;
  text-align: center;
}
td span {
  cursor: pointer;
}

.no-padding-top {
  padding-top: 0;
}
.pie-box {
  display: flex;
  justify-content: space-between;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
}
.gender-pie, .age-pie {
  width: 48%;
  height: 350px;
  border: 1px solid #c8c8c8;
}
.kids-nums {
  margin-bottom: 40px;
  border: 1px solid #c8c8c8;
}
.pie-title {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #f4fafe;
  border-bottom: 1px solid #c8c8c8;
  padding-left: 20px;
}
.column-title {
  @extend .pie-title;
  text-align: left;
}
.figure-box {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
}
#gender-statistics {
  min-width: 71.35%;
  height: 300px;
}
#age-statistics {
  min-width: 83.3%;
  height: 300px;
}
#nums-statistics {
  min-width: 91%;
  height: 240px;
}

.aprove {
  display: inline-block;
  margin-right: 20px;
}
.pointer {
  cursor: pointer;
}
.mr10 {
  margin-right: 10px;
}

#addModal {
  .modal-dialog {
    position:absolute;
    left: 50%;
    top: 50%;
    margin-left: -239px;
    margin-top: -145px;
    width: 478px;
    height: 291px;
  }
  .modal-backdrop {
    background-color: rgba(51, 58, 72, 0.16);
  }
  .modal-body {
    margin: 0;
    padding-left: 40px;
    padding-bottom: 40px;
  }
  .close {
    position: absolute;
    width: 64px;
    right: 0;
    top: 0;
    opacity: 1;
    z-index: 15;
  }
  .add-c {
    margin-top: 30px;
    margin-bottom: 24px;
  }
  .input-width {
    width: 300px;
    height: 30px;
    display: inline-block;
    margin-left: 8px;
    margin-right: 40px;
  }
  
  .add-btn-width {
    display: inline-block;
    width: 240px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #365ba9;
    margin-left: 80px;
    cursor: pointer;
  }
}
.mb24 {
    margin-bottom: 24px;
  }
.mr24 {
  margin-left: 24px;
}

#cashModal {
  .modal-dialog {
    position:absolute;
    left: 50%;
    top: 50%;
    margin-left: -280px;
    margin-top: -172px;
    width: 560px;
    height: 345px;
  }
  .modal-backdrop {
    background-color: rgba(51, 58, 72, 0.16);
  }
  .modal-body {
    margin: 0;
    padding-left: 40px;
    padding-bottom: 40px;
  }
  .close-cash {
    position: absolute;
    width: 64px;
    right: 0;
    top: 0;
    opacity: 1;
    z-index: 15;
    cursor: pointer;
  }
  .add-c {
    margin-top: 30px;
    margin-bottom: 24px;
  }
  .add-btn-width {
    display: block;
    width: 240px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #365ba9;
    cursor: pointer;
    margin-right: 40px;
  }
  .money {
    margin-right: 10px;
  }
  .notice {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-left: 24px;
  }
  #applying {
    background: #8c929f;
  }
  .input-width {
    width: 372px;
    height: 30px;
    display: inline-block;
    margin-left: 8px;
  }
}

.item-modal {
  position: relative;
  width: 50%;
  padding-left: 40px;
  padding-top: 20px;
  p {
    margin-bottom: 18px;
  }
}
.item-modal:not(:last-child) {
  border-right: 1px solid #e4f3ff;
}