
.desc-div {
  position: absolute;
  top: 200px;
  left: 24px;
  right: 40px;
  bottom: 40px;
  overflow: auto;
  padding-top: 3.24%;
  padding-left: 3.24%;
  border: 1px solid #e4f3ff;
}
.frame-div {
  position: relative;
  width: 360px;
  height: 180px;
  padding: 24px;
  margin-right: 40px;
  margin-bottom: 40px;
  float: left;
  border: 1px solid #e4f3ff;
}
li a {
  text-decoration: none;
}
.course-icon {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  float: left;
  border: 1px solid #e4f3ff;
  margin-right: 16px;
  margin-bottom: 10px;
}
.course-name {
  margin-top: 15px;
  margin-bottom: 7px;
}
.mt24 {
  margin-top: 20px;
}
.add-div {
  position: absolute;
  right: 24px;
  top: 40px;
  border-radius: 20px;
  height: 32px;
  width: 80px;
  border: 1px solid #e4f3ff;
  text-align: center;
  line-height: 30px;
  background: #f4fafe;
}
.small-add {
  width: 12px;
  vertical-align: baseline;
}
#addModal {
  .modal-dialog {
    position:absolute;
    left: 50%;
    top: 50%;
    margin-left: -440px;
    margin-top: -348px;
    width: 880px;
    height: 696px;
  }
  .modal-backdrop {
    background-color: rgba(51, 58, 72, 0.16);
  }
  .modal-body {
    margin: 0;
    padding-left: 40px;
    padding-bottom: 40px;
  }
  .close {
    position: absolute;
    width: 64px;
    right: 0;
    top: 0;
    opacity: 1;
    z-index: 15;
  }
  .add-c {
    margin-top: 30px;
    margin-bottom: 24px;
  }
  .input-width {
    width: 160px;
    height: 30px;
    display: inline-block;
    margin-left: 8px;
    margin-right: 40px;
  }
  #auth-price {
    padding: 0;
    padding-left: 4px;
  }
  .upload-btn {
    display: inline-block;
    width: 160px;
    height: 30px;
    margin-left: 8px;
    margin-right: 40px;
    background: #f4fafe;
    border: 2px solid #e4f3ff;  
    line-height: 30px;
    text-align: center;  
    cursor: pointer;
  }
  .mb24 {
    margin-bottom: 24px;
  }
  .input-web-width {
    width: 709px;
    height: 30px;
    display: inline-block;
    margin-left: 8px;
    margin-right: 40px;
  }
  .input-web1-width {
    width: 435px;
    height: 30px;
    display: inline-block;
    margin-left: 8px;
    margin-right: 40px;
  }
  .area-width {
    display: inline-block;
    width: 709px;
    margin-left: 8px;
    font-size: 14px;
  }
  .input-top {
    vertical-align: top;
  }
  .area-height {
    display: inline-block;
    height: 240px;
  }
  .add-btn-width {
    display: inline-block;
    width: 240px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #365ba9;
    margin-right: 40px;
    cursor: pointer;
  }
  .w-e-text-container {
    height: 200px !important;
  }
  .delete-icon {
    width: 12px;
  }
  .course-icon-name {
    display: inline-block;
    width: 144px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
  .icon-name {
    display: inline-block;
    width: 160px;
    height: 30px;
    line-height: 30px;
    display: none;
    margin-left: 8px;
    margin-right: 40px;
    cursor: pointer;
  }
}


#revokeModal {
  .modal-dialog {
    position:absolute;
    left: 50%;
    top: 50%;
    margin-left: -215px;
    margin-top: -100px;
    width: 430px;
    height: 158px;
  }
  .modal-backdrop {
    background-color: rgba(51, 58, 72, 0.16);
  }
  .modal-body {
    margin: 0;
    padding: 24px;
  }
  .close {
    position: absolute;
    width: 12px;
    right: 10px;
    top: 10px;
    opacity: 1;
    z-index: 15;
  }
  .conform-btn {
    display: block;
    width: 120px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #365ba9;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin: 0 auto;
  }
  p {
    margin-bottom: 18px;
  }
  .input-width {
    width: 300px;
    height: 30px;
    display: inline-block;
    margin-left: 8px;
  }
  .mb24 {
    margin-bottom: 24px;
  }
  .ml24 {
    margin-left: 24px;
  }
}



