.name-money {
	background: #f4fafe;
	height: 120px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -os-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-os-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	-moz-align-items: center;
	-os-align-items: center;
	-o-align-items: center;
	align-items: center;
  padding: 40px;
}
.mt16 {
  margin-top: 10px;
}
.mr8 {
  margin-right: 8px;
}
.ml80 {
  margin-left: 80px;
}
.info-div {
  padding-top: 40px;
  padding-left: 40px;
}
.p-div {
  margin-bottom: 18px;
}
.left-span {
  vertical-align: top;
}
.right-span {
  display: inline-block;
  width: 90%;
}
.icon {
  width: 64px;
  border: 1px solid #e4f3ff;
  border-radius: 8px;
}
.name-div span {
  vertical-align: middle;
}
.desc-div {
  position: absolute;
  top: 200px;
  left: 24px;
  right: 40px;
  bottom: 40px;
  overflow: auto;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  // border: 1px solid #e4f3ff;
}