.tooltip-div {
  position: absolute;
  top: 45px;
  width: 320px;
  padding: 20px;
  filter: drop-shadow(0 0 5px rgba(51, 58, 72, 0.16));
  left: -305px;
  background: #fff;
  display: none;
}
.tip-parent {
  position: relative;
}
.triangle {
  position: absolute;
  right: 0;
  top: -20px;
  width: 0;
  height: 0;
  border-bottom: 20px solid #FFF;
  border-left: 20px solid transparent;
}
.close {
  position: absolute;
  right: 20px;
  width: 12px;
}
.container {
  width: 272px;
  height: 140px;
  margin-top: 12px;
}
.last-td {
  padding: 0;
  margin: 0;
  text-align: left;
}
#green {
  color: #75cc7d;
  font-size: 1.2em;
}

#approveModal {
  .modal-dialog {
    position:absolute;
    left: 50%;
    top: 50%;
    margin-left: -239px;
    margin-top: -145px;
    width: 478px;
    height: 291px;
  }
  .modal-backdrop {
    background-color: rgba(51, 58, 72, 0.16);
  }
  .modal-body {
    margin: 0;
    padding-left: 40px;
    padding-bottom: 40px;
  }
  .close-approve {
    position: absolute;
    width: 64px;
    right: 0;
    top: 0;
    opacity: 1;
    z-index: 15;
  }
  .add-c {
    margin-top: 30px;
    margin-bottom: 24px;
  }
  .input-width {
    width: 300px;
    height: 30px;
    display: inline-block;
    margin-left: 8px;
    margin-right: 40px;
  }
  .mg24 {
    margin-top: 20px;
    margin-bottom: 24px;
  }
  .add-btn-width {
    display: inline-block;
    width: 240px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-left: 80px;
    cursor: pointer;
  }
  .approve-btn {
    background: #75cc7d;
  }
}


#rejectModal {
  .modal-dialog {
    position:absolute;
    left: 50%;
    top: 50%;
    margin-left: -239px;
    margin-top: -145px;
    width: 478px;
    height: 291px;
  }
  .modal-backdrop {
    background-color: rgba(51, 58, 72, 0.16);
  }
  .modal-body {
    margin: 0;
    padding-left: 40px;
    padding-bottom: 40px;
  }
  .close-reject {
    position: absolute;
    width: 64px;
    right: 0;
    top: 0;
    opacity: 1;
    z-index: 15;
  }
  .add-c {
    margin-top: 30px;
    margin-bottom: 24px;
  }
  .input-width {
    width: 300px;
    height: 30px;
    display: inline-block;
    margin-left: 8px;
    margin-right: 40px;
  }
  .mg24 {
    margin-top: 20px;
    margin-bottom: 24px;
  }
  .add-btn-width {
    display: inline-block;
    width: 240px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-left: 80px;
    cursor: pointer;
  }
  .reject-btn {
    background: #f58799;
  }
}


