.desc-div {
  position: relative;
  padding: 0 0.64rem;
}
.title {
  color: #365ba9;
  margin-top: 0.48rem;
  margin-bottom: 0.48rem;
}
.location-map {
  width: 100%;
  height: 3.87rem;
}
.mb60 {
  margin-bottom: 0.6rem;
}
.caption-color {
  color: #5d6578;
}