.desc-div {
  position: relative;
  padding: 0 0.64rem;
  padding-top: 1.6rem;
}
.title {
  color: #365ba9;
  margin-bottom: 1.08rem;
}
.text-blue {
  color: #365ba9;
}
.mr40 {
  margin-right: 0.4rem;
}
.input-group {
  width: 100%;
  padding-bottom: 0.16rem;
  border-bottom: 2px solid #365ba9;
  padding-left: 0.16rem;
  height: 0.48rem;
}
.miniphoto {
  background: url("/icon/phonenumber.png") no-repeat;
  background-size: 100% 100%;
  border: 0;
}

.form-box {
  width: 3.6rem;
  // border: none;
  color: #333a48;
  // background: rgba(255,255,255, .1);
  // outline: none;
  // background: transparent;
}
#gender {
  -webkit-appearance: none;
  appearance: none;
}
.form-verify-box {
  width: 50%;
}
.verify-photo {
  background: url("/icon/number.png") no-repeat;
  background-size: 100% 100%;
  border: 0;
}
.click-btn {
  width: 100%;
  padding: 0;
  background: #365ba9;
  line-height: 0.8rem;
  margin-top: 1.2rem;
}
#next_btn {
  color: #fff;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.notice {
  color: #365ba9;
  text-align: left;
  padding: 0.12rem 0;
  visibility: hidden;
}
.verify-code-span {
  color: #365ba9;
  margin-right: 0.1rem;
}
.mb64 {
  margin-bottom: 0.64rem;
}
.input-inside-div {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  position: absolute;
  top: 0.48rem;
  right: 0.48rem;
  width: 0.88rem;
}
.pointer {
  cursor: pointer;
}


//报名成功
.mb72 {
  margin-bottom: 0.72rem;
}
.text-color {
  color: #5d6578;
}
.mb40 {
  margin-bottom: 0.4rem;
}