.desc-div {
  position: relative;
  padding: 0 0.32rem;
  padding-top: 0.48rem;
}
.title {
  color: #365ba9;
}
.date {
  color: #5d6578;
}
.mb40 {
  margin-bottom: 0.4rem;
}
.mb60 {
  margin-bottom: 0.6rem;
}
.mb16 {
  margin-bottom: 0.16rem;
}

.product {
  width: 100%;
  margin-bottom: 0.8rem;
}

.img-div {
  img {
    width: 3rem;
    height: 2.25rem;
    margin-right: 0.32rem;
    margin-bottom: 0.48rem;
  }
  display: -webkit-flex;
  display: -o-flex;
  display: -os-flex;
  display: -moz-flex;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -os-justify-content: space-between;
  -moz-justify-content: space-between;
  display: flex;
  justify-content: space-between;
}
